$black: #000;
$vanta: #020202;
$dark: #111;
$grey: #202020;
$bone: #999;
$white: #fff;
$green: #39f21d;
$red: #ff3d3d;
$red-darker: #140404;
$blue: #3de8ff;
$blue-dark: #092225;
$blue-darker: #050f10;
$purple: #bd47b3;
$purple-dark: #59121f;

:root {
  --black: #{$black};
  --black-95: #{$black}000f9;
  --black-90: #{$black}e;
  --black-80: #{$black}c;
  --black-60: #{$black}9;
  --black-40: #{$black}6;
  --black-20: #{$black}3;
  --black-10: #{$black}2;
  --black-05: #{$black}1;
  --black-00: #{$black}0;
  --vanta: #{$vanta};
  --dark: #{$dark};
  --white: #{$white};
  --white-00: #{$white}0;
  --grey: #{$grey};
  --bone: #{$bone};
  --green: #{$green};
  --red: #{$red};
  --rarity-0: var(--bone);
  --success: #{$green};
  --error: #{$red};
  --error-80: #{$red}cc;
  --error-60: #{$red}99;
  --error-40: #{$red}66;
  --error-20: #{$red}33;
  --error-10: #{$red}19;
  --error-05: #{$red}0d;
  --error-00: #{$red}00;
  --error-darker: #{$red-darker};
  --rarity-1: #{$green};
}

.dark-theme {
  --background-color: #{$vanta};
  --background-header: #{$dark};
  --background-header-transparent: #{$dark}9;
  --font-color: #{$white};
  --font-color-50: #{$white}7;
  --primary: #{$blue};
  --primary-80: #{$blue}cc;
  --primary-60: #{$blue}99;
  --primary-40: #{$blue}66;
  --primary-20: #{$blue}33;
  --primary-10: #{$blue}19;
  --primary-05: #{$blue}0d;
  --primary-00: #{$blue}00;
  --primary-dark: #{$blue-dark};
  --primary-dark-80: #{$blue-dark}cc;
  --primary-dark-60: #{$blue-dark}99;
  --primary-dark-40: #{$blue-dark}66;
  --primary-dark-20: #{$blue-dark}33;
  --primary-dark-10: #{$blue-dark}19;
  --primary-dark-05: #{$blue-dark}0d;
  --primary-dark-00: #{$blue-dark}00;
  --primary-darker: #{$blue-darker};
  --secondary: #{$purple};
  --secondary-80: #{$purple}cc;
  --secondary-60: #{$purple}99;
  --secondary-40: #{$purple}66;
  --secondary-20: #{$purple}33;
  --secondary-10: #{$purple}19;
  --secondary-05: #{$purple}0d;
  --secondary-00: #{$purple}00;
  --secondary-dark: #{$purple-dark};
  --secondary-dark-10: #{$purple-dark}19;
  --tertiary: #{$white};
  --tertiary-80: #{$white}c;
  --tertiary-60: #{$white}9;
  --tertiary-40: #{$white}6;
  --tertiary-20: #{$white}3;
  --tertiary-10: #{$white}2;
  --tertiary-05: #{$white}1;
  --tertiary-00: #{$white}0;
  --tertiary-dark: #{$bone};
  --rarity-0: var(--font-color);
}
