@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-display: block;
  font-family: 'NodeIcons';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/nodeIcons.eot');
  src:
    url('../fonts/nodeIcons.eot') format('embedded-opentype'),
    url('../fonts/nodeIcons.ttf') format('truetype'),
    url('../fonts/nodeIcons.woff') format('woff'),
    url('../fonts/nodeIcons.svg') format('svg');
}

@font-face {
  font-display: block;
  font-family: 'Dogica';
  font-style: normal;
  font-weight: normal;
  size-adjust: 70%;
  src: url('../fonts/dogica.otf');
  src: url('../fonts/dogica.ttf') format('truetype');
}

:root {
  --main-font: 'Noto Sans', sans-serif;
  --mono-font: 'Dogica', monospace;
  --node-icon-font: 'NodeIcons';
}

.main {
  color: var(--font-color);
  font-family: var(--main-font);
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1;
}
