:root {
  --header-width: 6rem;
  --header-character-height: 10rem;
  --character-sheet-width: 128rem;
  --border-radius: 0.2rem;
  --width-card-large: 18rem;
  --height-card-large: 35rem;
  --border-radius-card: 2rem;
}
