/* stylelint-disable selector-max-id */
@use './colors';
@use './fonts';
@use './vars';

html,
body,
#root,
.main {
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

div {
  box-sizing: border-box;
}

.main {
  background: var(--background-color);
  font-size: 1.6rem;
  margin: 0;
  text-align: justify;
}

.app {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__gradient {
    background: linear-gradient(151deg, rgb(5 13 14 / 40%) 0%, rgb(13 5 12 / 70%) 100%);
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 200%;
    z-index: 0;
  }

  &__content {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__loader {
    background: var(--background-color);
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease;
    width: 100%;
  }

  &--loading .app__loader {
    opacity: 1;
    pointer-events: all;
  }
}
