@use '../../assets/scss/breakpoints';

.characterCreation {
  &-step1,
  &-step2,
  &-step3,
  &-step4,
  &-step5 {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__text {
      font-family: var(--mono-font);
      font-size: 4rem;
      font-weight: 100;
      letter-spacing: 1rem;
      margin-bottom: 1rem;
      text-align: center;
      text-transform: uppercase;
    }

    &__sub {
      color: var(--primary);
      font-family: var(--mono-font);
      font-size: 1.4rem;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &-step1,
  &-step3 {
    &__details {
      background: var(--black-90);
      height: 100%;
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      transition: opacity 0.4s ease;
      width: 100%;
      z-index: 1;
    }

    &__detail-block {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 4rem;
      height: 100%;
      justify-content: center;
      opacity: 0;
      padding: 4rem;
      pointer-events: none;
      transition: opacity 0.4s ease 0.3s;

      &__vertical {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      &__main {
        align-items: center;
        background-color: var(--primary-dark-60);
        border: 1px solid var(--primary);
        box-shadow: 0 0 2rem var(--primary-10);
        display: flex;
        flex-direction: column;
        max-width: 60rem;
        padding: 4rem;
      }

      &__title {
        margin-bottom: 4rem;
        text-align: center;
      }

      &__branches {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;

        &__branch {
          background-color: var(--primary-05);
          border: 1px solid var(--primary);
          box-shadow: 0 0 2rem var(--primary-10);
          font-size: 1.4rem;
          padding: 2rem;
        }
      }

      &__btn {
        margin-top: 4rem;
      }

      &__btns {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 4rem;
      }
    }
  }

  &-step2,
  &-step3 {
    &__points {
      align-items: center;
      background-color: var(--primary-dark-80);
      border: 1px solid var(--primary);
      box-shadow: 0 0 2rem var(--primary-10);
      display: flex;
      flex-direction: column;
      height: 22rem;
      justify-content: space-between;
      padding: 2rem;
      position: relative;
      width: 16rem;

      &__text {
        align-items: center;
        display: inline-flex;
        font-family: var(--mono-font);
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.2rem;
        line-height: 1.8rem;
        text-align: center;
        text-transform: uppercase;
      }

      &__value {
        font-family: var(--mono-font);
        font-size: 8rem;
        user-select: none;
      }

      &__btn {
        flex-shrink: 0;
        width: 100%;

        .button__content {
          text-align: center;
        }
      }
    }
  }
}

.characterCreation-step1 {
  &__sub {
    margin-bottom: 4rem;
  }

  &__list {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    height: 100%;
    justify-content: center;
    padding-bottom: 10rem;
    padding-top: 5vh;
  }

  &__cFrame {
    align-items: center;
    background-color: var(--primary-05);
    border: 1px solid var(--primary);
    box-shadow: 0 0 2rem var(--primary-10);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 45rem;
    opacity: 1;
    padding: 2rem;
    transition: opacity 0.3s ease;
    width: 100%;

    &__title {
      min-height: 7rem;
      text-align: center;

      &__content {
        margin-bottom: 1rem;
      }

      &__text {
        color: var(--primary);
        font-family: var(--mono-font);
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
      }
    }

    &__text {
      font-size: 1.4rem;
      font-style: italic;
      height: 100%;
      line-height: 2rem;
    }

    &__btn {
      flex-shrink: 0;
      margin-top: 3rem;
    }

    &--opened {
      opacity: 0;
      pointer-events: none;
    }
  }

  &--details {
    .characterCreation-step1__details {
      opacity: 1;
      pointer-events: all;
    }

    .characterCreation-step1__detail-block {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.characterCreation-step2 {
  &__stats {
    align-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    height: 100%;
    justify-content: space-evenly;
    padding-bottom: 5rem;
    padding-top: 5vh;

    &__field-block {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 2rem;
      min-width: 35rem;
      width: 33%;

      &:nth-child(4) {
        flex-grow: 0.2;
      }
    }

    &__field {
      align-items: center;
      background-color: var(--primary-dark-10);
      border-radius: 0.2rem;
      box-shadow: 0 0 2rem var(--primary-60);
      display: flex;
      flex-direction: row;
      gap: 1rem;
      min-width: 35rem;
      padding: 1rem 0.5rem;
      padding-right: 2rem;
      width: 100%;
    }

    &__content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-start;
      width: 100%;

      &__title {
        align-items: center;
        display: inline-flex;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 0;
        user-select: none;
      }

      &__text {
        display: inline-flex;
        flex-direction: column;
        font-size: 1.4rem;
        font-weight: 400;
        gap: 1rem;

        &__title {
          font-size: 1.4rem;
          text-transform: uppercase;
        }
      }

      &__bonus {
        color: var(--primary);
        font-family: var(--mono-font);
        font-size: 1.4rem;
        margin-bottom: 0.3rem;
        max-width: 80%;
        text-align: left;
        text-transform: uppercase;
      }

      &__mod {
        align-items: center;
        display: inline-flex;
        font-family: var(--mono-font);
        gap: 1rem;
        justify-content: flex-end;

        &__value {
          font-size: 3rem;
          transition: color 0.5s ease;

          &--negative {
            color: var(--error);
          }

          &--positive {
            color: var(--primary);
          }
        }
      }
    }
  }
}

.characterCreation-step3 {
  &__list {
    align-content: flex-start;
    align-items: center;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem 2rem;
    height: 100%;
    justify-content: space-around;
    padding-bottom: 5rem;
    padding-top: 5vh;
  }

  &__stat-block {
    background-color: var(--primary-05);
    border: 1px solid var(--primary);
    box-shadow: 0 0 2rem var(--primary-10);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 35rem;

    &__title {
      align-items: center;
      display: inline-flex;
      flex-direction: row;
      gap: 2rem;
      justify-content: space-between;
      margin-bottom: 0;
      padding: 0.2rem;
      padding-right: 1rem;
      user-select: none;
    }

    &__mod {
      align-items: center;
      display: inline-flex;
      font-family: var(--mono-font);
      gap: 1rem;
      justify-content: flex-end;

      &__value {
        font-size: 2rem;
        transition: color 0.5s ease;

        &--negative {
          color: var(--error);
        }

        &--positive {
          color: var(--primary);
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1rem;

      &__name {
        align-items: center;
        display: inline-flex;
        gap: 1rem;
      }

      &__elt {
        align-items: center;
        background: var(--primary-00);
        border-radius: var(--border-radius);
        display: inline-flex;
        justify-content: space-between;
        padding: 0.2rem;
        padding-right: 1rem;
        transition: background 0.3s ease;

        &--selected {
          background: var(--primary-20);
        }
      }

      &__value {
        transition: color 0.5s ease;

        &--negative {
          color: var(--error);
        }

        &--positive {
          color: var(--primary);
        }
      }
    }
  }

  &--details {
    .characterCreation-step3__details {
      opacity: 1;
      pointer-events: all;
    }

    .characterCreation-step3__detail-block {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.characterCreation-step4 {
  flex-grow: 1;

  &__view {
    border-radius: var(--border-radius);
    box-shadow: 0 0 2rem var(--primary-60);
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-bottom: 8vh;
    margin-top: 5vh;
    max-height: 60vh;

    &__list {
      background-color: var(--primary-05);
      border-right: 1px solid var(--primary);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      gap: 0.5rem;
      overflow-y: auto;
      padding: 4rem 2rem;
      width: 25rem;

      &__title {
        font-family: var(--mono-font);
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 2rem;
        padding-left: 1rem;
        text-transform: uppercase;
      }

      &__elt {
        &__btn {
          align-items: center;
          background-color: var(--primary-00);
          border-radius: var(--border-radius);
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          padding: 1rem;
          text-align: left;
          transition: background 0.2s ease;
          width: 100%;

          &__arrow {
            fill: var(--font-color);
            opacity: 0;
            pointer-events: none;
            transform: rotate(-90deg) translate3d(0, -1rem, 0);
            transition:
              transform 0.3s ease,
              opacity 0.3s ease;
          }

          &:hover {
            background-color: var(--primary-10);
          }
        }

        &--active .characterCreation-step4__view__list__elt__btn {
          background-color: var(--primary-20);

          &__arrow {
            opacity: 1;
            transform: rotate(-90deg) translate3d(0, 0, 0);
          }
        }
      }
    }

    &__chosen-background {
      align-items: flex-end;
      background-color: var(--primary-10);
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: space-between;
      overflow-y: auto;
      padding: 4rem;

      &__bonuses {
        margin-bottom: 2rem;

        &__elt {
          color: var(--primary);
          font-family: var(--mono-font);
          font-size: 1.4rem;
          margin-bottom: 0.3rem;
          max-width: 80%;
          text-align: left;
          text-transform: uppercase;
        }
      }

      &__btn {
        flex-shrink: 0;
      }

      &__text {
        font-size: 1.6rem;
      }
    }
  }
}

.characterCreation-step5 {
  &__view {
    margin-bottom: 8vh;
    margin-top: 5vh;
  }

  &__choices {
    &__main {
      &__title {
        padding-top: 5vh;
        text-align: center;
      }

      &__blocks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
      }

      &__weapons,
      &__armors,
      &__bags,
      &__items,
      &__specialized {
        background-color: var(--primary-dark-60);
        border: 1px solid var(--primary);
        box-shadow: 0 0 2rem var(--primary-10);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-around;
        max-width: 30rem;
        padding: 2rem;
        width: 100%;

        &__title {
          color: var(--primary);
          margin: 0;
          margin: 0;
          text-shadow: 0 0 1rem var(--primary-40);
        }
      }

      .weapon-display__text-hover,
      .armor-display__text-hover,
      .bag-display__text-hover,
      .item-display__text-hover,
      .specialized-display__text-hover {
        font-weight: 400;
      }
    }
  }
}

.characterCreation {
  &-step2,
  &-step3 {
    @include breakpoints.not-desktop {
      &__points {
        bottom: 2rem;
        left: calc(var(--header-width) + 2rem);
        position: fixed;
        width: calc(100% - var(--header-width) - 6rem);
      }

      &__stats,
      &__list {
        // Adding the points menu
        padding-bottom: calc(5rem + 22rem);

        &__field-block {
          &:nth-child(4) {
            flex-grow: 1;
          }
        }
      }
    }
  }
}
