@use '../../../assets/scss/mixins';

.adminNewNode {
  @include mixins.basic-page;

  &__content {
    margin-bottom: 10vh;
  }

  &__head {
    margin-bottom: 2rem;
  }

  &__visual {
    margin-top: 2rem;
  }

  &__visual,
  &__basics {
    margin-bottom: 2rem;
  }

  &__basics {
    display: flex;
    flex-direction: row;
    gap: 10rem;

    &__name {
      width: 100%;
    }

    &__level {
      flex-shrink: 0;
      width: 8rem;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__quote {
      width: 100%;
    }
  }

  &__ariane {
    margin-bottom: 2rem;

    &__elt {
      align-items: center;
      display: flex;
      font-family: var(--mono-font);
      font-size: 1rem;
      gap: 1rem;
      text-transform: uppercase;

      .aa {
        font-size: 1rem;
      }
    }
  }

  &__details {
    margin-bottom: 2rem;
  }

  &__error {
    margin-bottom: 2rem;
  }

  &__intl-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-top: 6rem;

    &__title {
      margin: 0;
    }
  }

  &__intl {
    display: none;
  }

  &__bonuses,
  &__bonuses__elts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__bonus {
    background-color: var(--primary-10);
    border: 1px solid var(--primary);
    border-radius: 0.2rem;
    box-shadow: 0 0 2rem var(--primary-20);
    padding: 1rem;
    position: relative;

    &__title {
      margin-bottom: 2rem;
    }

    &__fields {
      align-items: center;
      display: flex;
      gap: 5rem;

      &--large {
        flex-wrap: wrap;
        gap: 1rem 5rem;
        justify-content: space-between;
      }
    }

    &__button {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    &__value {
      &--s {
        width: calc(50% - 2.5rem);
      }

      &--l {
        width: 100%;
      }
    }
  }

  &__bonuses {
    &__buttons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

  &--int-visible {
    .adminNewNode__intl {
      display: block;
    }

    .adminNewNode__intl-title__btn {
      transform: rotate(180deg);
    }
  }
}
