$black: #000;
$vanta: #2e2e2e;
$grey: #555;
$bone: #999;
$boneless: #ebebeb;
$white: #fff;
$green: #3cd74f;
$red: #d73c3c;

:root {
  --black:#{$black};
  --vanta:#{$vanta};
  --white:#{$white};
  --grey:#{$grey};
  --bone:#{$bone};
  --boneless:#{$boneless};
  --green:#{$green};
  --red:#{$red};
}