$black: #000;
$vanta: #020202;
$dark: #111;
$grey: #202020;
$bone: #999;
$white: #fff;
$green: #39f21d;
$red: #a6261b;
$blue: #3de8ff;
$blue-dark: #172573;
$blue-darker: #0c1024;
$purple: #bd47b3;
$purple-dark: #59121f;

:root {
  --black: #{$black};
  --vanta: #{$vanta};
  --dark: #{$dark};
  --white: #{$white};
  --grey: #{$grey};
  --bone: #{$bone};
  --green: #{$green};
  --red: #{$red};
  --success: #{$green};
  --fail: #{$red};
}

.dark-theme {
  --background-color: #{$vanta};
  --background-header: #{$dark};
  --font-color: #{$white};
  --primary: #{$blue};
  --primary-80: #{$blue}cc;
  --primary-60: #{$blue}99;
  --primary-40: #{$blue}66;
  --primary-20: #{$blue}33;
  --primary-10: #{$blue}19;
  --primary-05: #{$blue}0d;
  --primary-00: #{$blue}00;
  --primary-dark: #{$blue-dark};
  --primary-darker: #{$blue-darker};
  --secondary: #{$purple};
  --secondary-80: #{$purple}cc;
  --secondary-60: #{$purple}99;
  --secondary-40: #{$purple}66;
  --secondary-20: #{$purple}33;
  --secondary-10: #{$purple}19;
  --secondary-05: #{$purple}0d;
  --secondary-00: #{$purple}00;
  --secondary-dark: #{$purple-dark};
  --tertiary: #{$white};
  --tertiary-80: #{$white}c;
  --tertiary-60: #{$white}9;
  --tertiary-40: #{$white}6;
  --tertiary-20: #{$white}3;
  --tertiary-10: #{$white}2;
  --tertiary-05: #{$white}1;
  --tertiary-00: #{$white}00;
  --tertiary-dark: #{$bone};
}
