@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;600&family=Victor+Mono:wght@300;700&display=swap');

:root {
  --main-font: 'Darker Grotesque', sans-serif;
  --mono-font: 'Victor Mono', monospace;
}

.main {
  color: var(--font-color);
  font-family: var(--main-font);
  font-weight: 400;
}
