@import './colors';
@import './fonts';
@import './vars';

/* stylelint-disable-next-line selector-max-id */
html,
body,
#root,
.main {
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.main {
  background: var(--background-color);
  font-size: 2rem;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  width: 100%;

  &__content {
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 10rem;
    max-width: 1200px;
    padding: 0 40px;
    padding-bottom: 6rem;
    width: 100%;
  }

  &__loader {
    background: var(--background-color);
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease;
    width: 100%;
  }

  &--loading .app__loader {
    opacity: 1;
    pointer-events: all;
  }
}
