.menubar {
  border: 1px solid var(--primary-dark);
  padding: 1rem;

  &__categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 4rem;

    &__marks,
    &__nodes,
    &__tables,
    &__embeds,
    &__highlight {
      align-items: center;
      border: 1px solid var(--primary-darker);
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 1rem;
    }

    &__marks {
      &__bold {
        font-weight: bold;
      }

      &__italic {
        font-style: italic;
      }
    }

    &__embeds__embedbar,
    &__highlight__highlightbar {
      align-items: center;
      display: flex;
      gap: 1rem;
    }
  }

  &__titles {
    align-items: center;
    display: flex;
    font-size: 1.8rem;
    margin: 0;
    margin-right: 0.5rem;
  }

  .button {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    min-height: 3.5rem;
    min-width: 3.5rem;

    &__content {
      font-size: 1.3rem;
    }
  }
}
