.home {
  min-height: 100%;
  width: 100%;

  &__intro {
    align-items: center;
    background-blend-mode: hard-light;
    background-color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    gap: 5vh;
    transform: translate3d(0, 0, 0);

    &__logo {
      opacity: 0.8;
      width: 40vh;
    }

    &__title {
      font-size: 3.8rem;
      font-weight: 100;
      letter-spacing: 5rem;
      margin-bottom: 0;
      padding-left: 10rem;
      text-shadow: 0 0 1rem var(--tertiary-20);
      transform: translate3d(0, 0, 0);
    }

    &__line {
      animation: 2s linear 2s forwards appear;
      background: var(--tertiary);
      height: 0.1rem;
      opacity: 0;
      width: 20rem;
    }

    &__text {
      font-family: var(--mono-font);
      font-size: 1.2rem;
      letter-spacing: 1rem;
      margin: 0;
      min-height: 1.4rem;
      text-shadow: 0 0 1rem var(--tertiary-20);
      text-transform: uppercase;
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      gap: 10rem;
      margin-bottom: 10vh;
      margin-top: 5vh;
    }
  }

  &--connected {
    .home__intro {
      &__text {
        margin-bottom: 10vh;
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
