.char-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 28rem;
  justify-content: center;
  position: relative;
  width: 100%;

  &__logo {
    fill: #2e2e2e;
    height: auto;
    left: calc(50% - 15rem);
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 30rem;
    z-index: -1;
  }

  &__cyber-frame {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    justify-content: center;
    padding-top: 2rem;

    &__name {
      color: var(--primary);
      font-family: var(--decor-serif-font);
      font-size: 1.4rem;
      line-height: 2.5;
    }

    &__level {
      font-family: var(--decor-sans-font);
      font-size: 1.4rem;
    }
  }

  &__name {
    color: var(--primary);
    font-family: var(--decor-sans-font);
    text-align: center;
    text-shadow: 0 0 2rem var(--primary-40);
    text-transform: uppercase;
  }

  &__interactions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    padding-top: 1.5rem;
  }
}
