.char-header {
  align-items: center;
  background: var(--primary-20);
  display: flex;
  height: var(--header-character-height);
  padding: 0 2rem;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 128rem;
    width: 100%;
  }

  &__left {
    &__title {
      font-size: 2rem;
      font-style: italic;
      font-weight: 500;
      letter-spacing: 1rem;
      margin-bottom: 1rem;
    }

    &__sub {
      font-family: var(--mono-font);
      font-weight: 300;
    }
  }

  &__right {
    width: 30rem;
  }

  &__health {
    &__field {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      justify-content: space-between;
      margin-bottom: 1rem;

      &__value {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        gap: 1rem;
      }

      &__input.input {
        width: 6rem;
      }

      &__total {
        flex-shrink: 0;
      }
    }
  }
}
