.char-stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__caracs,
  &__char-params {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
  }

  &__caracs {
    .num-display:last-child {
      margin: 0 auto;
    }
  }
}
