.roll-window {
  height: 100%;
  left: var(--header-width);
  pointer-events: none;
  position: absolute;
  top: 0;
  width: calc(100% - var(--header-width));
  z-index: 2;

  &__window,
  &__shadow {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &__shadow {
    background: var(--background-color);
    height: 100%;
    left: 0;

    position: absolute;
    top: 0;

    width: 100%;
    z-index: 0;
  }

  &__window {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1;

    &__dices {
      align-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 6rem;
      justify-content: center;
      position: relative;

      &__elt {
        opacity: 1;
        transition: opacity 0.5s ease;
      }

      &__results {
        display: flex;
        flex-direction: row;
        gap: 8rem;
        height: 100%;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transition: opacity 0.5s ease;
        width: 100%;

        &__elt {
          align-items: center;
          background: var(--primary-20);
          border: 0.1rem solid var(--primary-20);
          cursor: pointer;
          display: flex;
          font-family: var(--mono-font);
          font-size: 6rem;
          height: 100%;
          justify-content: center;
          position: relative;
          text-shadow: 0 0 2rem var(--error-00);
          transition:
            border 0.2s ease,
            color 0.2s ease,
            text-shadow 0.2s ease,
            background 0.2s ease;
          width: 16rem;
          z-index: 1;

          &__icon {
            fill: var(--primary-40);
            height: 8rem;
            left: calc(50% - 4rem);
            pointer-events: none;
            position: absolute;
            top: calc(50% - 4rem);

            transition: fill 0.2s ease;
            width: 8rem;
            z-index: -1;
          }

          &--active {
            background: var(--error-20);
            border: 0.1rem solid var(--error);
            color: var(--error);
            text-shadow: 0 0 2rem var(--error);

            .roll-window__window__dices__results__elt__icon {
              fill: var(--error-40);
            }
          }

          &:hover {
            background: var(--error-20);
            border: 0.1rem solid var(--error);

            .roll-window__window__dices__results__elt__icon {
              fill: var(--error-40);
            }
          }
        }
      }
    }

    &__bonuses {
      border: 0.1rem solid var(--primary);
      opacity: 0;
      padding: 2rem;
      position: relative;
      transition: opacity 0.5s ease;

      &__text {
        align-items: center;
        display: flex;
        font-family: var(--mono-font);
        font-size: 2rem;
        height: 4rem;
        justify-content: center;
        left: 2rem;
        padding: 0 2rem;
        position: absolute;
        text-transform: uppercase;
        top: -2rem;
        z-index: 1;

        &::before {
          background: var(--vanta);
          content: '';
          height: 0.2rem;
          left: 0;
          position: absolute;
          top: calc(50% - 0.1rem);
          width: 100%;
          z-index: -1;
        }
      }

      &__total {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;

        &__plus {
          color: var(--primary);
          font-size: 6rem;
          font-weight: 100;
        }
      }
    }

    &__total {
      display: flex;
      flex-direction: row;
      gap: 4rem;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    &__interactions {
      opacity: 0;
      position: relative;
      transition: opacity 0.5s ease;
      width: 100%;

      .interactions-dice,
      .interactions-sacrifice {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease;
        width: 100%;
      }

      .interactions-sacrifice {
        left: 0;
        position: absolute;
        top: 0;
      }
    }
  }

  // Modes

  &--mode-dice {
    .roll-window__window__interactions {
      .interactions-dice {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &--mode-sacrifice {
    .roll-window__window {
      &__interactions {
        .interactions-sacrifice {
          opacity: 1;
          pointer-events: all;
        }
      }

      &__dices {
        &__elt {
          opacity: 0;
        }

        &__results {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
  // ------

  &--bonus {
    .roll-window__window__bonuses {
      opacity: 1;
    }
  }

  &--total {
    .roll-window__window__total {
      opacity: 1;
    }
  }

  &--interact {
    .roll-window__window__interactions {
      opacity: 1;
    }
  }

  &--large {
    .roll-window__window {
      &__dices {
        flex-direction: row;
        gap: 8rem;
      }
    }
  }

  // States ------------------------------------------------

  &--open {
    pointer-events: all;

    .roll-window__shadow {
      opacity: 0.98;
      transition: opacity 1s ease;
    }

    .roll-window__window {
      opacity: 1;

      &__values {
        pointer-events: all;
      }
    }
  }
}
