@use '../../../assets/scss/mixins';

.character {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    height: 100%;
    margin: 0 auto;
    max-width: var(--character-sheet-width);
    padding: 0 2rem;
    width: 100%;

    &__center {
      display: flex;
      flex-direction: column;
      width: 28rem;

      &__title {
        position: relative;

        &__logo {
          fill: #2e2e2e;
          height: auto;
          left: calc(50% - 14rem);
          position: absolute;
          top: 0;
          width: 28rem;
        }
      }
    }

    &__left,
    &__right {
      flex-grow: 1;
    }
  }
}
