@use '../../../assets/scss/mixins';

.character {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__body {
    padding: 0 2rem;
    width: 100%;

    &__content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 1rem;
      height: 100%;
      margin: 0 auto;
      max-width: var(--character-sheet-width);
      width: 100%;

      &__left,
      &__right {
        width: 100%;
      }

      &__left {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0;

        .char-skills__skills {
          height: 100%;
        }
      }
    }
  }
}
