.button {
  align-items: center;
  background: transparent;
  border: 1px solid var(--boneless);
  border: 1px solid var(--button-border);
  border-radius: 4px;
  color: var(--tertiary);
  cursor: pointer;
  display: flex;
  fill: var(--button-fill);
  gap: 10px;
  padding: 0;
  transition: border .15s ease;

  &.button--notext {
    border: 1px solid transparent;
  }

  &:hover {
    border: 1px solid var(--button-border-hover);

    .button__content {
      color: var(--button-text-hover);
    }
  }

  &__content {
    font-family: var(--mono-font);
    transition: color .15s ease;
  }

  &__icon {
    fill: inherit;
    transition: fill .15s ease;
  }

  .aicon {
    pointer-events: none;
  }

  // Sizes -----------------------------------
  &--medium {
    .button__content {
      font-size: 1.2rem;
      padding: .8rem 1rem;
      padding-right: .5rem;
    }

    &.button--noicon .button__content {
      padding-right: 1rem;
    }

    &.button--notext {
      padding: .4rem;
    }
  }

  &--small {
    .button__content {
      font-size: 1rem;
      padding: .6rem .5rem;
      padding-right: .2rem;
    }

    &.button--noicon .button__content {
      padding-right: .5rem;
    }

    &.button--notext {
      padding: .4rem;
    }

    .button__icon {
      height: 2rem;
      width: 2rem;
    }
  }

  // Themes ----------------------------------
  &--primary {
    --button-border: var(--primary-dark);
    --button-fill: var(--primary);
    --button-border-hover: var(--primary);
    --button-fill-hover: var(--tertiary);
    --button-text-hover: var(--tertiary-dark);
  }

  &--secondary {
    --button-border: var(--secondary-dark);
    --button-fill: var(--secondary);
    --button-border-hover: var(--secondary);
    --button-fill-hover: var(--tertiary);
    --button-text-hover: var(--tertiary-dark);
  }

  &--tertiary {
    --button-border: var(--tertiary-dark);
    --button-fill: var(--tertiary);
    --button-border-hover: var(--tertiary);
    --button-fill-hover: var(--tertiary);
    --button-text-hover: var(--tertiary-dark);
  }
}