.button {
  align-items: center;
  background: var(--button-background);
  border: 1px solid var(--boneless);
  border: 1px solid var(--button-border);
  border-radius: 3px;
  color: var(--button-text-color);
  cursor: pointer;
  display: flex;
  fill: var(--button-fill);
  gap: 10px;
  padding: 0;
  transition:
    border 0.15s ease,
    background 0.15s ease;

  &.button--notext {
    border: 1px solid transparent;
  }

  &:hover {
    background: var(--button-background-hover);
    border: 1px solid var(--button-border-hover);

    .button__content {
      color: var(--button-text-hover);
    }
  }

  &__content {
    transition: color 0.15s ease;
  }

  &__icon {
    fill: inherit;
    transition: fill 0.15s ease;
  }

  .aicon {
    pointer-events: none;
  }

  // Sizes -----------------------------------
  &--medium {
    height: 40px;

    .button__content {
      font-size: 1.4rem;
      padding: 0.8rem 2rem;
      padding-right: 0.5rem;
    }

    &.button--noicon .button__content {
      padding-right: 2rem;
    }

    &.button--notext {
      padding: 0.4rem;
    }
  }

  &--small {
    height: 30px;

    .button__content {
      font-size: 1.2rem;
      padding: 0.6rem 1rem;
      padding-right: 0.2rem;
    }

    &.button--noicon .button__content {
      padding-right: 1rem;
    }

    &.button--notext {
      padding: 0.4rem;
    }

    .button__icon {
      height: 2rem;
      width: 2rem;
    }
  }

  // Themes ----------------------------------
  &--primary {
    --button-border: var(--primary-dark);
    --button-background: transparent;
    --button-fill: var(--primary);
    --button-text-color: var(--tertiary);
    --button-border-hover: var(--primary);
    --button-background-hover: transparent;
    --button-fill-hover: var(--tertiary);
    --button-text-hover: var(--tertiary-dark);

    &.button--active {
      --button-border: var(--primary);
      --button-fill: var(--primary);
      --button-border-hover: var(--primary);
      --button-fill-hover: var(--tertiary);
      --button-text-hover: var(--tertiary);
    }
  }

  &--secondary {
    --button-border: var(--secondary-dark);
    --button-background: transparent;
    --button-fill: var(--secondary);
    --button-text-color: var(--tertiary);
    --button-border-hover: var(--secondary);
    --button-background-hover: transparent;
    --button-fill-hover: var(--tertiary);
    --button-text-hover: var(--tertiary-dark);
  }

  &--tertiary {
    --button-border: var(--tertiary-dark);
    --button-background: transparent;
    --button-fill: var(--tertiary);
    --button-text-color: var(--tertiary);
    --button-border-hover: var(--tertiary);
    --button-background-hover: transparent;
    --button-fill-hover: var(--tertiary);
    --button-text-hover: var(--tertiary-dark);
  }

  &--error {
    --button-border: var(--red);
    --button-background: var(--red);
    --button-fill: var(--tertiary);
    --button-text-color: var(--background-color);
    --button-border-hover: var(--red);
    --button-background-hover: transparent;
    --button-fill-hover: var(--tertiary);
    --button-text-hover: var(--red);
    font-weight: bold;
  }

  &--link {
    --button-border: transparent;
    --button-background: transparent;
    --button-fill: transparent;
    --button-text-color: var(--primary);
    --button-border-hover: transparent;
    --button-background-hover: transparent;
    --button-fill-hover: transparent;
    --button-text-hover: var(--primary);
  }

  // Others ----------------------------------
  &--disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
