.dropdown-list {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;

  &__main {
    align-items: center;
    display: flex;
    height: 100%;
  }

  &__list {
    background: var(--background-header);
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    opacity: 0;
    padding: 1rem;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 100%, 0);
    width: 20rem;

    &__elt {
      align-items: center;
      display: flex;
      height: 4rem;
      width: 100%;
    }
  }

  &:hover .dropdown-list__list {
    opacity: 1;
    pointer-events: all;
  }
}
