@use '../../../assets/scss/index';

.adminTestDiceComp {
  @include index.basic-page;

  &__form {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    max-width: 35rem;
  }

  &__table {
    margin-top: 5rem;
    width: 100%;

    caption {
      height: 4rem;
    }

    tr {
      text-align: center;
    }

    th {
      padding: 0.5rem;
    }
  }
}
