.headerbar {
  background: var(--background-header);
  height: 100%;
  width: var(--header-width);
  z-index: 2;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    justify-content: space-between;
    padding: 3rem 0;
  }

  &__content__bottom,
  &__content__top {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__menu,
  &__menu-list .dropdown-menu__main {
    color: var(--tertiary);
    display: block;
    font-family: var(--mono-font);
    font-size: 1.2rem;
    font-weight: 100;
    height: auto;
    letter-spacing: 0.1rem;
    padding: 0;
    text-transform: uppercase;
    transform: rotate(180deg);
    transition: color 0.2s ease;
    writing-mode: vertical-rl;

    &:hover {
      color: var(--primary);
    }
  }

  &__menu-list .dropdown-menu__main {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: var(--header-width);

    .button__content {
      width: auto;
    }
  }

  &__shadow {
    background: var(--black);
    height: 100%;
    left: var(--header-width);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 0.2s ease;
    width: calc(100% - var(--header-width));
    z-index: 1;

    &--visible {
      opacity: 0.8;
      pointer-events: all;
    }
  }
}
