@use '../../../assets/scss/index';

.rulebook {
  @include index.basic-page;

  &__title {
    margin-bottom: 2rem;
  }

  &__table-content,
  &__table-content__chapter,
  &__table-content__chapter__pages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__table-content {
    margin-top: 4rem;

    &__chapter {
      font-weight: bold;

      &__pages {
        font-weight: normal;
        padding-left: 2rem;
      }
    }
  }
}
