@use '../../../assets/scss/mixins';

.newcharacter {
  @include mixins.basic-page;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 7vh;

  .ariane {
    margin-bottom: 5vh;
  }

  &__loading {
    background: var(--primary-10);
    background-blend-mode: hard-light;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    // Relative to app__content
    position: absolute;
    top: 0;
    transform: translate3d(0, 0, 0);
    transition: opacity 1s ease;
    width: 100%;
    z-index: 3;

    &__accent {
      animation: rotating 15s ease infinite;
      background: var(--primary-dark);
      background-blend-mode: hard-light;
      height: calc(100vh + 100vw);
      left: 50%;
      opacity: 1;
      position: absolute;
      top: 50%;
      width: calc(100vh + 100vw);
    }

    &__main-block {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 0;
      height: 100%;
      justify-content: center;
      margin: 0 auto;
      max-width: 80rem;
      width: 100%;
    }

    &__logo {
      animation: breathing-logo 5s ease infinite;
      width: 40vh;

      &__elt {
        fill: var(--tertiary);
        opacity: 0;
        transform: scale3d(0.9, 0.9, 1);
        transition: opacity 0.4s ease;
      }
    }

    &__code {
      background: var(--dark);
      font-family: var(--mono-font);
      font-size: 1.2rem;
      height: 30rem;
      letter-spacing: 0.2rem;
      line-height: 1.8rem;
      max-width: 60rem;
      overflow: hidden;
      position: relative;
      width: 100%;

      &__elt {
        bottom: 2rem;
        left: 2rem;
        min-height: calc(100% - 4rem);
        position: absolute;
        right: 0;
        width: calc(100% - 4rem);
      }
    }

    &__skip {
      position: absolute;
      right: 2rem;
      top: 2rem;
      z-index: 1;
    }
  }

  &__tooltip {
    align-items: center;
    background: var(--black-90);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    // Relative to app__content
    position: fixed;
    top: 0;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.3s ease;
    width: 100%;
    z-index: 2;

    &__shell {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 100%;
      max-height: 80rem;
      max-width: 60rem;
      padding: 4rem;
      width: 100%;
    }

    &__core {
      align-items: center;
      background-color: var(--primary-dark-60);
      border: 1px solid var(--primary);
      box-shadow: 0 0 2rem var(--primary-10);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      padding: 4rem;
      width: 100%;

      &__title {
        text-align: center;
      }

      &__text {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
      }
    }

    &__buttons {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__tooltip-btn {
    // Relative to app__content
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 2;
  }

  &__form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &--animating {
    .newcharacter__loading {
      &__logo {
        &__elt {
          opacity: 1;
          transform: scale3d(1, 1, 1);
          transition:
            opacity 1.5s ease 0.3s,
            transform 1.8s ease;
        }
      }
    }
  }

  &--loading {
    .newcharacter__loading {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0 ease;
    }
  }

  &--tooltip {
    .newcharacter__tooltip {
      opacity: 1;
      pointer-events: all;
    }
  }

  &--animate-hide {
    .newcharacter__loading {
      display: none;
    }
  }

  &--animate-fast {
    .newcharacter__loading {
      background: var(--background-color);

      &__accent {
        background: var(--background-color);
      }

      &__logo {
        &__elt {
          opacity: 1;
          transform: scale3d(1, 1, 1);
          transition: none;
        }
      }
    }
  }

  @keyframes breathing-logo {
    0% {
      transform: scale3d(0.9, 0.9, 1);
    }

    50% {
      transform: scale3d(1, 1, 1);
    }

    100% {
      transform: scale3d(0.9, 0.9, 1);
    }
  }

  @keyframes rotating {
    from {
      transform: translate3d(-50%, -50%, 0) rotate(0);
    }

    to {
      transform: translate3d(-50%, -50%, 0) rotate(180deg);
    }
  }
}
