@use '../../../assets/scss/mixins';

.newcharacter {
  @include mixins.basic-page;

  &__loading {
    background: var(--primary-dark-10);
    background-blend-mode: lighten;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    // Relative to app__content
    position: absolute;
    top: 0;
    transform: translate3d(0, 0, 0);
    transition: opacity 1s ease;
    width: 100%;
    z-index: 1;

    &__accent {
      animation: rotating 10s ease infinite;
      background: var(--secondary-dark-10);
      background-blend-mode: lighten;
      height: calc(100vh + 100vw);
      left: 50%;
      opacity: 0.8;
      position: absolute;
      top: 50%;
      width: calc(100vh + 100vw);
    }

    &__main-block {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 0;
      height: 100%;
      justify-content: center;
      margin: 0 auto;
      max-width: 80rem;
      width: 100%;
    }

    &__logo {
      animation: breathing-logo 5s ease infinite;
      width: 40vh;

      &__elt {
        fill: var(--tertiary);
        opacity: 0;
        transform: scale3d(0.9, 0.9, 1);
        transition: opacity 0.4s ease;
      }
    }

    &__code {
      background: var(--dark);
      font-family: var(--mono-font);
      font-size: 1.2rem;
      height: 30rem;
      letter-spacing: 0.2rem;
      line-height: 1.8rem;
      max-width: 60rem;
      overflow: hidden;
      position: relative;
      width: 100%;

      &__elt {
        bottom: 2rem;
        left: 2rem;
        min-height: calc(100% - 4rem);
        position: absolute;
        right: 0;
        width: calc(100% - 4rem);
      }
    }

    &__skip {
      position: absolute;
      right: 2rem;
      top: 2rem;
      z-index: 1;
    }
  }

  &__form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &--animating {
    .newcharacter__loading {
      &__logo {
        &__elt {
          opacity: 1;
          transform: scale3d(1, 1, 1);
          transition:
            opacity 1.5s ease 0.3s,
            transform 1.8s ease;
        }
      }
    }
  }

  &--loading {
    .newcharacter__loading {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0 ease;
    }
  }

  &--animate-hide {
    .newcharacter__loading {
      display: none;
    }
  }

  @keyframes breathing-logo {
    0% {
      transform: scale3d(0.9, 0.9, 1);
    }

    50% {
      transform: scale3d(1, 1, 1);
    }

    100% {
      transform: scale3d(0.9, 0.9, 1);
    }
  }

  @keyframes rotating {
    from {
      transform: translate3d(-50%, -50%, 0) rotate(0);
    }

    to {
      transform: translate3d(-50%, -50%, 0) rotate(180deg);
    }
  }
}
