.alert {
  background: var(--grey);
  font-family: var(--mono-font);
  pointer-events: all;

  &__content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-size: 1.4rem;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 40px;
    width: 100%;
  }

  &--close {
    pointer-events: none;
  }
}
