.draglist {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__elt {
    background-color: var(--primary-05);
    border: 1px solid var(--primary);
    box-shadow: 0 0 2rem var(--primary-10);
    box-sizing: border-box;
    padding: 1.5rem 2rem;
  }
}
