.roll-tab {
  align-items: flex-end;
  bottom: 2vh;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: absolute;
  right: -25rem;
  transition: right 0.4s ease;

  &__buttons {
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

    &__roll,
    &__toggle {
      display: flex;
      height: 20rem;
      justify-content: center;
      writing-mode: vertical-rl;
    }

    &__roll {
      opacity: 0;
      transition: opacity 0.2s ease;

      &--visible {
        opacity: 1;
      }
    }
  }

  &__table {
    background-color: var(--primary-00);
    border: 1px solid var(--primary-00);
    box-shadow: 0 0 2rem var(--primary-00);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    // height: 30rem;
    // opacity: 0;
    padding: 2rem;
    pointer-events: none;
    transition:
      box-shadow 0.4s ease 0.2s,
      border 0.6s ease 0.1s,
      background-color 0.6s ease 0.1s;
    width: 25rem;

    &__button {
      opacity: 0;
      position: relative;
      transition: opacity 1s ease;
      width: 100%;

      &__icon {
        fill: var(--primary-60);
        height: 6rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        transition: fill 0.4s ease;
        width: 6rem;
      }

      &.button .button__content {
        padding: 0 2rem;
      }

      .ap {
        margin-right: -1rem;
      }

      &.button--active {
        .roll-tab {
          &__table__button__icon {
            fill: var(--tertiary);
          }
        }
      }
    }
  }

  &--open {
    right: 2vh;

    .roll-tab__table {
      background-color: var(--primary-05);
      border: 1px solid var(--primary);
      box-shadow: 0 0 2rem var(--primary-10);
      pointer-events: all;

      &__button {
        opacity: 1;
      }

      @for $i from 1 through 6 {
        &__button:nth-child(#{$i}n) {
          transition-delay: #{$i * 0.1}s;
        }
      }
    }
  }
}
