.button {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: var(--mono-font);
  gap: 1rem;
  opacity: 1;
  position: relative;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
  user-select: none;
  width: fit-content;

  &__content {
    line-height: 1.3;
    text-align: left;
    transition: color 0.15s ease;
    width: 100%;
  }

  &__icon {
    fill: inherit;
    pointer-events: none;
    transition: fill 0.15s ease;
  }

  // Sizes -----------------------------------
  &--xlarge {
    letter-spacing: 0.8rem;
    min-height: 7rem;

    .button__content {
      font-size: 3rem;
      padding: 1rem 4rem;
      padding-right: 1rem;
    }

    &.button--noicon .button__content {
      padding-right: 4rem;
    }

    &.button--notext {
      padding: 0.8rem;
    }
  }

  &--large {
    letter-spacing: 0.4rem;
    min-height: 5rem;

    .button__content {
      font-size: 1.4rem;
      padding: 1rem 4rem;
      padding-right: 1rem;
    }

    &.button--noicon .button__content {
      padding-right: 4rem;
    }

    &.button--notext {
      min-width: 5rem;
      padding: 0.8rem;
    }
  }

  &--medium {
    letter-spacing: 0.1rem;
    min-height: 4rem;

    .button__content {
      font-size: 1.4rem;
      padding: 0.8rem 2rem;
      padding-right: 0.5rem;
    }

    &.button--noicon .button__content {
      padding-right: 2rem;
    }

    &.button--notext {
      min-width: 4rem;
      padding: 0.6rem;
    }
  }

  &--small,
  &--xsmall {
    min-height: 3rem;

    .button__content {
      font-size: 1.2rem;
      padding: 0.6rem 1rem;
      padding-right: 0.2rem;
    }

    &.button--noicon .button__content {
      padding-right: 1rem;
    }

    &.button--notext {
      min-width: 3rem;
      padding: 0.4rem;
    }

    .button__icon {
      min-height: 2rem;
      width: 2rem;
    }
  }

  &--xsmall {
    .button__content {
      padding: 0;
    }
  }

  // Themes ----------------------------------
  &--solid,
  &--line,
  &--line-alt,
  &--afterglow {
    background: var(--button-color-05);
    border-radius: var(--border-radius);
    box-shadow: 0 0 2rem var(--button-color-05);

    transition:
      background 0.15s ease-in,
      opacity 0.3s ease,
      box-shadow 0.15s ease-in;

    // Minus .2rem -> the border
    &::before {
      border: 0.1rem solid var(--button-color-00);
      content: '';
      height: calc(100% - 0.1rem);
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      transition:
        border 0.2s ease,
        height 0.2s ease,
        width 0.2s ease,
        left 0.2s ease,
        top 0.2s ease;
      width: calc(100% - 0.1rem);
    }

    &:hover {
      background: var(--button-color-20);
      box-shadow: 0 0 2rem var(--button-color-10);
      color: var(--button-hover-text);

      &::before {
        border: 0.1rem solid var(--button-color-80);
        height: calc(100% + 1rem - 0.2rem);
        left: -0.5rem;
        top: -0.5rem;
        width: calc(100% + 1rem - 0.2rem);
      }

      .button__icon {
        fill: var(--button-hover-text);
      }
    }

    &.button--active {
      background: var(--button-color-20);
    }
  }

  &--line-alt,
  &--text-only-alt {
    background: var(--primary-dark-40);
  }

  &--afterglow {
    box-shadow: 0 0 2rem var(--primary-40);
  }

  &--notext {
    justify-content: center;
  }

  &--line,
  &--line-alt {
    &::before {
      border: 0.1rem solid var(--button-color-20);
    }

    &:hover {
      &::before {
        border: 0.1rem solid var(--button-color-80);
        height: calc(100% - 0.1rem);
        left: 0;
        top: 0;
        width: calc(100% - 0.1rem);
      }
    }
  }

  &--text-only,
  &--text-only-alt {
    &::before {
      border: 0.1rem solid var(--button-color-00);
      content: '';
      height: calc(100% - 1rem - 0.2rem);
      left: 0.5rem;
      pointer-events: none;
      position: absolute;
      top: 0.5rem;
      transition:
        border 0.2s ease,
        height 0.2s ease,
        width 0.2s ease,
        left 0.2s ease,
        top 0.2s ease,
        color 0.2s ease;
      width: calc(100% - 1rem - 0.2rem);
    }

    &:hover {
      color: var(--button-hover-text);

      &::before {
        border: 0.1rem solid var(--button-color-80);
        height: calc(100% - 0.2rem);
        left: 0;
        top: 0;
        width: calc(100% - 0.2rem);
      }
    }
  }

  // Colors ----------------------------------
  &--primary {
    --button-color: var(--primary);
    --button-color-00: var(--primary-00);
    --button-color-05: var(--primary-05);
    --button-color-10: var(--primary-10);
    --button-color-20: var(--primary-40);
    --button-color-80: var(--primary-80);
    --button-hover-text: var(--tertiary);
    color: var(--button-color);
    fill: var(--button-color);
  }

  &--secondary {
    --button-color: var(--secondary);
    --button-color-00: var(--secondary-00);
    --button-color-05: var(--secondary-05);
    --button-color-10: var(--secondary-10);
    --button-color-20: var(--secondary-40);
    --button-color-80: var(--secondary-80);
    --button-hover-text: var(--tertiary);
    color: var(--button-color);
    fill: var(--button-color);
  }

  &--tertiary {
    --button-color: var(--tertiary);
    --button-color-00: var(--tertiary-00);
    --button-color-05: var(--tertiary-05);
    --button-color-10: var(--tertiary-10);
    --button-color-20: var(--tertiary-40);
    --button-color-80: var(--tertiary-80);
    --button-hover-text: var(--primary);
    color: var(--button-color);
    fill: var(--button-color);
  }

  &--error {
    --button-color: var(--error);
    --button-color-00: var(--error-00);
    --button-color-05: var(--error-05);
    --button-color-10: var(--error-10);
    --button-color-20: var(--error-40);
    --button-color-80: var(--error-80);
    --button-hover-text: var(--tertiary);
    color: var(--button-color);
    fill: var(--button-color);
  }

  // Others ----------------------------------
  &--disabled,
  &--unclickable {
    pointer-events: none;
    user-select: none;
  }

  &--disabled {
    opacity: 0.2;
  }
}
