.card {
  perspective: 100rem;
  transform: scale(0.95);
  transition: transform 0.1s ease;

  &:hover {
    transform: scale(1);
    transition: transform 0.1s cubic-bezier(0, 1, 0.5, 2);
  }

  &__inner {
    border-radius: var(--border-radius-card);
    height: 100%;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.4s;
    width: 100%;
  }

  &__front,
  &__back {
    backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid var(--primary-80);
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__front {
    background: var(--primary-darker);
    box-shadow: 0 0 1rem 0.2rem var(--primary-20);
    overflow: hidden;
    transform: rotateY(180deg);

    &--arcana {
      .card__front__line {
        border: 1px solid var(--primary-40);
        border-radius: 1rem;
        height: 90%;
        left: 9%;
        position: absolute;
        top: 5%;
        width: 82%;
      }

      .card__front__top-text,
      .card__front__bottom-text {
        background-color: var(--primary-darker);
        font-family: var(--mono-font);
        left: 50%;
        padding: 0 1rem;
        position: absolute;
      }

      .card__front__top-text {
        top: 5%;
        transform: translate3d(-50%, -50%, 0);
      }

      .card__front__bottom-text {
        bottom: 5%;
        transform: translate3d(-50%, 50%, 0) rotate(180deg);
      }

      .card__front__image,
      .card__front__image-accent {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    &--number {
      display: flex;
      overflow: hidden;
      padding: 1rem;

      .card__front__side,
      .card__front__center {
        align-items: center;
        display: flex;
        flex: 1 0 0.1rem;
        flex-direction: column;
      }

      .card__front__center {
        height: 80%;
        position: relative;
        top: 10%;
      }

      .card__front__symbol,
      .card__front__blank,
      .card__front__line-dot {
        align-items: center;
        display: flex;
        flex: 1 0 0.1rem;
        justify-content: center;
      }

      .card__front__line-dot {
        align-items: center;
        background-color: var(--primary);
        box-shadow: 0 0 1rem 0.2rem var(--primary-20);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &::after,
        &::before {
          background-color: var(--primary);
          border-radius: 100%;
          content: '';
        }
      }

      .card__front__line-dot-center {
        animation: pulse 3s infinite;
        background: var(--primary);
        border-radius: 100%;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(1);
      }

      &--1,
      &--2,
      &--3,
      &--4 {
        .card__front__center {
          height: 100%;
          top: 0;
        }
      }

      &--4 {
        .card__front__symbol {
          display: flex;
          height: auto;
          justify-content: center;
          width: 0;
        }
      }

      &--3 {
        .card__front__symbol {
          height: auto;
          width: auto;
        }
      }

      &--2 {
        .card__front__symbol {
          height: auto;
          width: auto;
        }

        .card__front__blank {
          flex-grow: 0;
        }
      }

      &--1 {
        .card__front__symbol {
          height: auto;
          width: auto;
        }
      }

      &::before,
      &::after {
        background-color: var(--primary);
        content: '';
        height: 20%;
        position: absolute;
        transform: rotate(45deg);
        width: 40%;
      }

      &::before {
        left: -22%;
        top: -13%;
      }

      &::after {
        bottom: -10%;
        right: -28%;
      }
    }
  }

  &__back {
    align-items: center;
    background: var(--primary-dark);
    background-blend-mode: color-dodge;
    box-shadow: inset 0 0 2rem 3rem var(--black-20);
    display: flex;
    justify-content: center;
    overflow: hidden;

    &__icon {
      color: var(--tertiary);
      height: auto;
      text-shadow: 0 0 10rem var(--primary);
      width: auto;
    }
  }

  &--clickable {
    cursor: pointer;
  }

  // Sizes
  &--medium {
    height: var(--height-card-medium);
    width: var(--width-card-medium);

    .card__front,
    .card__back {
      border-radius: var(--border-radius-card-medium);
    }

    .card__back {
      &__icon {
        font-size: 11rem;
      }
    }

    .card__front {
      &__image,
      &__image-accent {
        font-size: 20rem;
      }

      &__image {
        text-shadow: 0 0 6rem var(--primary);
      }

      &__image-accent {
        text-shadow: 0 0 1rem var(--tertiary-40);
      }

      &__symbol {
        font-size: 5rem;
      }

      &__line-dot-center {
        height: 1.3rem;
        width: 1.3rem;
      }

      &__line-dot {
        width: 0.15em;

        &::after,
        &::before {
          height: 0.6rem;
          left: -0.4rem;
          width: 0.6rem;
        }
      }

      &--number {
        &--4 {
          .card__front__symbol {
            font-size: 6rem;
          }
        }

        &--3 {
          .card__front__symbol {
            font-size: 8rem;
          }
        }

        &--2 {
          .card__front__symbol {
            font-size: 10rem;
          }
        }

        &--1 {
          .card__front__symbol {
            font-size: 14rem;
          }
        }
      }

      &--arcana {
        .card__front__top-text,
        .card__front__bottom-text {
          font-size: 1.5rem;
        }
      }
    }
  }

  &--large {
    height: var(--height-card-large);
    width: var(--width-card-large);

    .card__front,
    .card__back {
      border-radius: var(--border-radius-card-large);
    }

    .card__back {
      &__icon {
        font-size: 16.5rem;
      }
    }

    .card__front {
      &__image,
      &__image-accent {
        font-size: 30rem;
      }

      &__image {
        text-shadow: 0 0 9rem var(--primary);
      }

      &__image-accent {
        text-shadow: 0 0 1.5rem var(--tertiary-40);
      }

      &__symbol {
        font-size: 7.5rem;
      }

      &__line-dot-center {
        height: 2rem;
        width: 2rem;
      }

      &__line-dot {
        width: 0.2em;

        &::after,
        &::before {
          height: 1rem;
          left: -0.6rem;
          width: 1rem;
        }
      }

      &--number {
        &--4 {
          .card__front__symbol {
            font-size: 9rem;
          }
        }

        &--3 {
          .card__front__symbol {
            font-size: 12rem;
          }
        }

        &--2 {
          .card__front__symbol {
            font-size: 15rem;
          }
        }

        &--1 {
          .card__front__symbol {
            font-size: 21rem;
          }
        }
      }

      &--arcana {
        .card__front__top-text,
        .card__front__bottom-text {
          font-size: 2rem;
        }
      }
    }
  }
}

.card-hint {
  background-color: var(--primary-dark);
  box-shadow: 0 0 2rem var(--primary-10);
  display: flex;
  font-family: var(--main-font);
  font-size: 1.4rem;
  left: 0;
  letter-spacing: normal;
  line-height: 2rem;
  margin-right: 2rem;
  max-width: 50rem;
  opacity: 0;
  overflow: hidden;
  padding: 2rem;
  pointer-events: none;
  position: fixed;
  text-transform: none;
  top: 0;
  transition: opacity 0.2s ease;
  z-index: 1;

  &__number {
    align-items: center;
    display: flex;
    font-family: var(--mono-font);
    gap: 1rem;
    line-height: normal;

    &__value {
      color: var(--primary);
      font-size: 4rem;
    }

    &__liaison {
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    &__color {
      color: var(--primary);
      font-size: 3rem;
    }
  }

  &__unknown {
    font-family: var(--mono-font);
    font-size: 4rem;
    line-height: normal;
  }

  &__arcana {
    &__title {
      font-size: 3rem;
      line-height: 1.2;
      margin-bottom: 2rem;

      &__number {
        color: var(--primary);
        text-shadow: 0 0 1.5rem var(--primary);
      }
    }

    &__text {
      border: 1px solid var(--primary);
      font-size: 1.4rem;
      padding: 1rem;
    }
  }
}

.card-block {
  // Info state
  &--info {
    &.card-block--flipped {
      &:hover {
        .card-hint {
          opacity: 1;
          transition: opacity 0.2s ease 0.3s;
        }
      }

      .card__inner {
        transform: rotateY(180deg);
      }
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--primary-80);
    transform: scale(0.75);
  }

  70% {
    box-shadow: 0 0 2rem 1.5rem var(--primary-00);
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 0 0 var(--primary-00);
    transform: scale(0.75);
  }
}
