.checkbox {
  cursor: pointer;

  &__field {
    align-items: center;
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: 2rem;
    justify-content: center;
    transition: border 0.2s ease;
    width: 2rem;

    &__icon {
      fill: var(--primary);
      height: 2rem;
      position: relative;
      transition: fill 0.2s ease;
      width: 2rem;
    }
  }

  &__leg-field {
    display: none;
  }

  &__block {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;
    user-select: none;
  }

  // Others ----------------------------------
  &--disabled {
    cursor: default;
    pointer-events: none;
    user-select: none;

    .checkbox__field {
      border: 1px solid var(--font-color-50);
      cursor: default;

      &__icon {
        fill: var(--font-color-50);
      }
    }
  }
}
