@use '../assets/scss/mixins';

.clickable-text {
  position: relative;

  &__button {
    background: var(--primary-10);
    border-radius: var(--border-radius);
    cursor: pointer;

    transition: background 0.1s ease;
    width: 100%;
  }

  &:hover {
    .clickable-text__button {
      background: var(--primary-20);
    }

    .clickable-text__hint {
      opacity: 1;
      transition: opacity 0.3s ease 1s;
    }
  }

  &__hint {
    background-color: var(--primary-dark);
    border: 1px solid var(--primary);
    box-shadow: 0 0 2rem var(--primary-10);
    display: flex;
    font-family: var(--mono-font);
    font-size: 1.4rem;
    letter-spacing: normal;
    line-height: 2rem;
    opacity: 0;
    overflow: hidden;
    padding: 1rem 2rem;
    pointer-events: none;
    position: absolute;
    text-transform: none;
    transition: opacity 0.3s ease;
    width: 24rem;
    z-index: var(--z-hints);

    &__info {
      color: var(--tertiary-40);
      font-style: italic;
      text-align: right;
      text-decoration: underline;
    }
  }

  // Themes
  &--decor {
    .clickable-text__button {
      font-family: var(--decor-sans-font);
      font-size: 2.8rem;
      padding: 0 1rem;
      padding-bottom: 0.6rem;
    }
  }

  &--mono {
    .clickable-text__button {
      font-family: var(--mono-font);
      font-size: 2.2rem;
      padding: 0.7rem 1rem;
    }
  }

  // States
  &--unclickable.clickable-text--hint {
    .clickable-text__button {
      cursor: help;
    }
  }

  // Positionning
  @include mixins.hint-spacing;
}
