.dice-roller {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;

  &__char {
    &__icon {
      fill: var(--primary);
      opacity: 0.4;
      pointer-events: none;
      position: absolute;
      right: 0;
      z-index: var(--z-forward);
    }

    &--first,
    &--last {
      background: transparent;
      border: 0;
      border: 0.2rem solid transparent;

      &.dice-roller-char--cursor {
        background: var(--primary);
        border: 0.2rem solid var(--primary);

        .dice-roller__char__icon {
          opacity: 0;
        }
      }
    }

    &--last {
      display: none;
    }
  }

  &--small {
    .dice-roller__char {
      &__icon {
        height: 4rem;
        top: calc(50% - 2rem);
        width: 4rem;
      }
    }

    &.dice-roller--with-icon {
      padding-left: 2rem;
    }
  }

  &--medium {
    .dice-roller__char {
      &__icon {
        height: 8rem;
        top: calc(50% - 4rem);
        width: 8rem;
      }
    }

    &.dice-roller--with-icon {
      padding-left: 3rem;
    }
  }

  &--large {
    gap: 2rem;

    .dice-roller__char {
      &__icon {
        height: 10rem;
        top: calc(50% - 5rem);
        width: 10rem;
      }
    }

    &.dice-roller--with-icon {
      padding-left: 5rem;
    }
  }

  &--xlarge {
    gap: 2rem;

    .dice-roller__char {
      border-width: 0.4rem;

      &__icon {
        height: 20rem;
        top: calc(50% - 10rem);
        width: 20rem;
      }
    }

    &.dice-roller--with-icon {
      padding-left: 12rem;
    }
  }
}
