.dice-card {
  align-items: center;
  background-blend-mode: overlay;
  background-color: var(--primary-20);
  border: 1px solid var(--primary);
  border-radius: 0.2rem;
  box-shadow: 0 0 2rem var(--primary-20);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  opacity: 0;
  position: relative;
  transform: translate3d(0, -0.5rem, 0) scale3d(1, 0, 1) skew(20deg, 10deg);
  transition:
    transform 0.5s ease-out,
    opacity 0.5s ease,
    background-color 1s ease,
    border 1s ease,
    box-shadow 1s ease;
  user-select: none;

  &::after {
    background: var(--white);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background 0.1s ease;
    width: 100%;
  }

  &__dice-bg {
    fill: var(--primary-20);
    filter: drop-shadow(0 0 4px var(--primary-40));
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition:
      fill 1s ease,
      filter 1s ease;
    width: 16rem;
    z-index: 0;
  }

  &__value {
    color: var(--tertiary);
    font-family: var(--mono-font);
    font-size: 12rem;
    font-weight: 400;
    letter-spacing: 2rem;
    margin-right: -2rem;
    position: relative;
    text-shadow: 0 0 1rem var(--tertiary-20);
    transition: text-shadow 1s ease;
    z-index: 1;
  }

  // Sizes ------------------------------------

  &--xsmall {
    height: 10rem;
    width: 6rem;

    .dice-card {
      &__dice-bg {
        width: 6rem;
      }

      &__value {
        font-size: 4rem;
        letter-spacing: 0.5rem;
        margin-right: -0.5rem;
      }
    }
  }

  &--small {
    height: 16rem;
    width: 10rem;

    .dice-card {
      &__dice-bg {
        width: 11rem;
      }

      &__value {
        font-size: 7rem;
        letter-spacing: 1rem;
        margin-right: -1rem;
      }
    }
  }

  &--medium {
    height: 25rem;
    width: 16rem;

    .dice-card {
      &__dice-bg {
        width: 16rem;
      }

      &__value {
        font-size: 12rem;
        letter-spacing: 1rem;
        margin-right: -1rem;
      }
    }
  }

  &--large {
    height: 30rem;
    width: 20rem;

    .dice-card {
      &__dice-bg {
        width: 22rem;
      }

      &__value {
        font-size: 15rem;
        letter-spacing: 2rem;
        margin-right: -2rem;
      }
    }
  }

  &--single {
    height: 44rem;
    width: 28rem;

    .dice-card {
      &__dice-bg {
        width: 28rem;
      }

      &__value {
        font-size: 19rem;
        letter-spacing: 1rem;
        margin-right: -1rem;
      }
    }
  }

  // States ------------------------------------

  &--visible {
    opacity: 1;
    transform: translate3d(0, -0.5rem, 0) scale3d(1, 1, 1) skew(0deg, 0deg);
    transition:
      transform 0.2s cubic-bezier(0.2, 0.99, 0.65, 1.17),
      opacity 0.1s ease;

    &::after {
      background: var(--white-00);
    }
  }

  &--end {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) skew(0deg, 0deg);
  }

  &--max,
  &--fumble {
    transition:
      transform 0.1s cubic-bezier(0.2, 0.99, 0.65, 1.17),
      opacity 0.1s ease,
      background-color 1s ease-out 1s,
      border 1s ease-out 1s,
      box-shadow 1s ease-out 1s;

    .dice-card {
      &__dice-bg {
        transition:
          fill 1s ease-out 1s,
          filter 1s ease-out 1s;
      }

      &__value {
        transition: text-shadow 1s ease-out 1s;
      }
    }
  }

  &--max {
    background-color: var(--primary-00);
    border: 1px solid var(--tertiary);
    box-shadow: 0 0 2rem var(--tertiary-60);

    .dice-card {
      &__dice-bg {
        fill: var(--tertiary-60);
        filter: drop-shadow(0 0 4px var(--tertiary-40));
      }

      &__value {
        animation: 1s ease 2s glowText;
        text-shadow: 0 0 3rem var(--tertiary-80);
      }
    }
  }

  &--fumble {
    background-color: var(--error-10);
    border: 1px solid var(--error);
    box-shadow: 0 0 0 var(--error-60);

    .dice-card {
      &__dice-bg {
        fill: var(--error-60);
        filter: drop-shadow(0 0 4px var(--error-40));
      }

      &__value {
        text-shadow: 0 0 1rem var(--error-00);
      }
    }
  }
}

@keyframes glowText {
  0% {
    text-shadow: 0 0 3rem var(--tertiary-80);
  }

  50% {
    text-shadow:
      0 0 4rem var(--tertiary),
      0 0 8rem var(--primary);
  }

  100% {
    text-shadow: 0 0 3rem var(--tertiary-80);
  }
}
