.helper {
  position: relative;

  &__icon {
    cursor: help;
  }

  &__content {
    background-color: var(--primary-dark-80);
    border: 1px solid var(--primary);
    box-shadow: 0 0 2rem var(--primary-10);
    font-family: var(--main-font);
    font-size: 1.4rem;
    letter-spacing: normal;
    line-height: 2rem;
    max-height: 20rem;
    opacity: 0;
    overflow: hidden;
    padding: 2rem;
    pointer-events: none;
    position: absolute;
    text-transform: none;
    transition: opacity 0.3s ease;
    width: 35rem;
    z-index: 1;
  }

  &--top-right {
    .helper__content {
      right: 0;
      top: -1rem;
      transform: translate3d(0, -100%, 0);
    }
  }

  &--bottom-right {
    .helper__content {
      right: 0;
      top: calc(100% + 1rem);
    }
  }

  &--top-left {
    .helper__content {
      left: 0;
      top: -1rem;
      transform: translate3d(0, -100%, 0);
    }
  }

  &--bottom-left {
    .helper__content {
      left: 0;
      top: calc(100% + 1rem);
    }
  }

  &--open {
    .helper__content {
      opacity: 1;
    }
  }

  // Themes ---------------

  &--solid {
    .helper__icon {
      background-color: var(--primary-20);
      border: 1px solid var(--primary);
      border-radius: 100%;
      box-shadow: 0 0 2rem var(--primary-10);
      fill: var(--tertiary);
    }
  }

  &--text-only {
    .helper__icon {
      background-color: var(--primary-dark-20);
      border-radius: 100%;
      fill: var(--tertiary);
    }
  }

  // Sizes ----------------

  &--medium {
    .helper__icon {
      padding: 0.5rem;
    }
  }

  &--small {
    height: 2.1rem;

    .helper__icon {
      padding: 0.3rem;
    }
  }
}
