@use '../assets/scss/mixins';

.helper {
  position: relative;

  &__icon {
    cursor: help;
  }

  &__hint {
    background-color: var(--primary-dark);
    border: 1px solid var(--primary);
    box-shadow: 0 0 2rem var(--primary-10);
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    font-size: 1.4rem;
    gap: 1rem;
    letter-spacing: normal;
    line-height: 2rem;
    opacity: 0;
    overflow: hidden;
    padding: 2rem;
    pointer-events: none;
    position: absolute;
    text-transform: none;
    transition: opacity 0.3s ease;
    width: 35rem;
    z-index: 1;

    &__info {
      color: var(--tertiary-40);
      font-style: italic;
      text-align: right;
      text-decoration: underline;
    }
  }

  &:hover {
    .helper__hint {
      opacity: 1;
      transition: opacity 0.3s ease 0.5s;
    }
  }

  // Clickable
  &--clickable {
    .helper__icon {
      cursor: pointer;
    }
  }

  // Positionning
  @include mixins.hint-spacing;

  // Themes ---------------
  &--solid {
    .helper__icon {
      background-color: var(--primary-20);
      border: 1px solid var(--primary);
      border-radius: 100%;
      box-shadow: 0 0 2rem var(--primary-10);
      fill: var(--tertiary);
    }
  }

  &--text-only {
    .helper__icon {
      background-color: var(--primary-dark-20);
      border-radius: 100%;
      fill: var(--tertiary);
    }
  }

  // Sizes ----------------
  &--medium {
    .helper__icon {
      padding: 0.5rem;
    }
  }

  &--small {
    height: 2.1rem;

    .helper__icon {
      padding: 0.3rem;
    }
  }
}
