@use '../assets/scss/mixins';

.hint-button {
  height: max-content;
  position: relative;
  width: max-content;

  &__icon {
    background-color: var(--primary-20);
    border: 1px solid var(--primary);
    border-radius: 100%;
    bottom: -1rem;
    box-shadow: 0 0 2rem var(--primary-10);
    cursor: help;
    fill: var(--tertiary);
    padding: 0.3rem;
    position: absolute;
    right: -1rem;

    &:hover ~ .hint-button__question {
      opacity: 1;
    }
  }

  &__question {
    background-color: var(--primary-dark);
    border: 1px solid var(--primary);
    box-shadow: 0 0 2rem var(--primary-10);
    color: var(--primary);
    display: flex;
    font-family: var(--decor-sans-font);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    max-width: 50rem;
    opacity: 0;
    overflow: hidden;
    padding: 1rem;
    pointer-events: none;
    position: absolute;
    text-transform: none;
    transition: opacity 0.2s ease;
    width: max-content;
    z-index: var(--z-hints);

    &__info {
      color: var(--tertiary-40);
      font-style: italic;
      text-align: right;
      text-decoration: underline;
    }
  }

  &__hint {
    background-color: var(--primary-dark);
    box-shadow: 0 0 2rem var(--primary-10);
    color: var(--primary);
    display: flex;
    font-family: var(--decor-sans-font);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    max-width: 50rem;
    opacity: 0;
    overflow: hidden;
    padding: 1rem;
    pointer-events: none;
    position: absolute;
    text-transform: none;
    transition: opacity 0.2s ease;
    white-space: nowrap;
    width: max-content;
    z-index: var(--z-hints);

    &__info {
      color: var(--tertiary-40);
      font-style: italic;
      text-align: right;
      text-decoration: underline;
    }
  }

  &:hover &__hint {
    opacity: 1;
  }

  // Positionning
  @include mixins.hint-spacing;
}
