.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  &__field {
    background: var(--primary-20);
    border: 0;
    box-shadow: 0 0 2rem var(--primary-05);
    box-sizing: border-box;
    color: var(--font-color);
    font-family: var(--mono-font);
    margin: 0;
    outline: 0;
    resize: none;
    width: 100%;
  }

  &__label {
    color: var(--tertiary-80);
    text-shadow: 0 0 1rem var(--tertiary-00);
    transition:
      color 0.2s ease,
      text-shadow 0.2s ease;
  }

  &__decor {
    position: relative;
    width: 100%;

    &::before {
      background: var(--primary-00);
      bottom: 0;
      box-shadow: 0 0 2rem var(--primary-00);
      content: '';
      height: 0.2rem;
      left: 0;
      pointer-events: none;
      position: absolute;
      transition:
        background 0.2s ease,
        box-shadow 0.2s ease;
      width: 100%;
    }
  }

  // Types -----------------------------------
  &.input--textarea .input__field {
    height: 10rem;
  }

  // Focused ----------------------------------
  &--focus {
    .input__decor::before {
      background: var(--primary);
      box-shadow: 0 0 2rem var(--primary);
    }

    .input__label {
      color: var(--tertiary);
      text-shadow: 0 0 1rem var(--tertiary-20);
    }
  }

  // Sizes -----------------------------------
  &--medium .input__field {
    font-size: 1.4rem;
    height: 4rem;
    letter-spacing: 0.2rem;
    padding: 0.8rem 2rem;
  }

  &--small .input__field {
    font-size: 1.4rem;
    height: 3rem;
    letter-spacing: 0.2rem;
    padding: 0.6rem 1.5rem;
  }

  // Format

  &--inline .input__field {
    padding-inline-end: 0;
  }

  // Others ----------------------------------
  &--readonly .input__field {
    border: 0;
  }
}
