.node {
  position: relative;

  width: fit-content;

  &__icon {
    align-items: center;
    background-color: var(--primary-05);
    border: 1px solid var(--primary);
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem var(--primary-10);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: var(--size-node);
    justify-content: center;
    width: var(--size-node);
  }

  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: -2rem;
    top: -50%;
    transform: translate3d(100%, -50%, 0);
    transition: opacity 0.4s ease;
    z-index: 1;

    &__main,
    &__bonuses,
    &__action,
    &__effect {
      background-color: var(--black);
      border: 1px solid var(--primary);
      border-radius: 0.2rem;
      box-shadow: 0 0 1rem var(--primary-10);
      padding: 2rem;
    }

    &__vertical {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__main {
      width: 40rem;

      &__title {
        color: var(--primary);
      }

      &__infos {
        font-family: var(--mono-font);
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.4rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
      }

      &__quote {
        color: var(--tertiary-60);
        font-style: italic;
        letter-spacing: 0.1rem;
        margin-top: 2rem;
      }
    }

    &__action,
    &__effect {
      width: 40rem;

      &__title {
        font-family: var(--mono-font);
        letter-spacing: 0.4rem;
        margin-bottom: 2rem;
        text-transform: uppercase;

        &__elt {
          font-size: 1.6rem;
          font-weight: 400;
        }

        &__detail {
          font-size: 1.2rem;
          margin-top: 0.5rem;
        }
      }

      &__details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      &__detail {
        font-family: var(--mono-font);
        font-size: 1.4rem;
        margin-top: 0.5rem;
      }

      &__details {
        margin-top: 2rem;
      }
    }

    &__bonuses {
      width: 30rem;

      &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style-type: disclosure-closed;
        margin: 0;
        padding-left: 2rem;
      }

      &__elt {
        font-family: var(--mono-font);
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.4rem;
        margin: 0;
        text-transform: uppercase;
      }
    }
  }

  &--small {
    --size-node: 4.5rem;
  }

  &--medium {
    --size-node: 5.5rem;
  }

  &--large {
    --size-node: 6.5rem;
  }

  &:hover {
    .node__icon {
      box-shadow: 0 0 1rem var(--primary-40);
    }

    .node__content {
      opacity: 1;
      transition: opacity 0.4s ease 0.5s;
    }
  }
}
