.number-select {
  align-items: center;
  display: flex;
  min-width: 6.5rem;
  width: fit-content;

  &__btn-plus {
    transform: rotate(180deg);
  }

  &__btn-plus,
  &__btn-minus {
    &--hide {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &__value {
    font-family: var(--mono-font);
    user-select: none;
  }

  &--vertical {
    flex-direction: column;

    .number-select__btn-plus {
      transform: rotate(180deg);
    }

    .number-select__value {
      font-size: 4rem;
      left: 0.2rem;
      position: relative;
    }
  }

  &--horizontal {
    flex-direction: row-reverse;
    gap: 1rem;

    .number-select__btn-plus {
      transform: rotate(-90deg);
    }

    .number-select__btn-minus {
      transform: rotate(90deg);
    }

    .number-select__value {
      font-size: 2rem;
    }
  }
}
