.search-bar {
  background: var(--primary-10);
  position: relative;

  &__button {
    left: 0.5rem;
    position: absolute;
    top: 0;
  }

  &__input {
    background: none;
    color: var(--primary);
    padding-inline-start: 5rem;
  }
}
