.skill-display {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  position: relative;

  &__title {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    font-size: 1.3rem;
    font-weight: 400;
    gap: 1rem;
  }

  &__line {
    background: var(--primary-10);
    bottom: 0;
    height: 0.2rem;
    left: 0;
    position: absolute;
    transition: background 0.1s ease;
    width: calc(100% - 7rem);
  }

  &__mod-value {
    width: 7rem;

    .clickable-text__button {
      border-bottom-left-radius: 0;
    }

    &:hover ~ .skill-display__line {
      background: var(--primary-20);
    }
  }
}
