.aicon {
  fill: var(--black);

  &--large {
    height: 4.5rem;
    width: 4.5rem;
  }

  &--medium {
    height: 2.5rem;
    width: 2.5rem;
  }

  &--small {
    height: 1.5rem;
    width: 1.5rem;
  }
}
