.anodeicon {
  font-family: var(--node-icon-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: never;
  text-transform: none;

  // Animated
  &--animated {
    background: var(--primary-dark);
    background-blend-mode: color-dodge;
  }

  // Sizes ----

  &--large {
    font-size: 6rem;
    height: 6rem;
    padding: 0.5rem;
    width: 6rem;
  }

  &--medium {
    font-size: 5rem;
    height: 5rem;
    width: 5rem;
  }

  &--small {
    font-size: 4rem;
    height: 4rem;
    width: 4rem;
  }

  // Rarities ----
  &--rarity {
    border: 1px solid var(--rarity-0);
    border-radius: var(--border-radius);

    &--0 {
      border-color: var(--rarity-0);
    }

    &--1 {
      border-color: var(--rarity-1);
    }

    &--2 {
      border-color: var(--rarity-2);
    }

    &--3 {
      border-color: var(--rarity-3);
    }

    &--4 {
      border-color: var(--rarity-4);
    }

    &--5 {
      border-color: var(--rarity-5);
    }
  }

  // Icons ----

  &--adn::before {
    content: '\e901';
  }

  &--animalhandl::before {
    content: '\e902';
  }

  &--artnet::before {
    content: '\e900';
  }

  &--arts::before {
    content: '\e903';
  }

  &--bow::before {
    content: '\e904';
  }

  &--brain::before {
    content: '\e905';
  }

  &--build::before {
    content: '\e906';
  }

  &--bullets::before {
    content: '\e907';
  }

  &--charm::before {
    content: '\e908';
  }

  &--cog::before {
    content: '\e93f';
  }

  &--connected::before {
    content: '\e909';
  }

  &--cross::before {
    content: '\e90a';
  }

  &--deceit::before {
    content: '\e90b';
  }

  &--default::before {
    content: '\e90c';
  }

  &--eidoloneye::before {
    content: '\e90d';
  }

  &--endu::before {
    content: '\e90e';
  }

  &--energy::before {
    content: '\e90f';
  }

  &--energyhammer::before {
    content: '\e910';
  }

  &--energyrifle::before {
    content: '\e911';
  }

  &--energysword::before {
    content: '\e912';
  }

  &--engine::before {
    content: '\e913';
  }

  &--expertise::before {
    content: '\e914';
  }

  &--explosion::before {
    content: '\e915';
  }

  &--fight::before {
    content: '\e916';
  }

  &--finesse::before {
    content: '\e917';
  }

  &--firearm::before {
    content: '\e918';
  }

  &--flame::before {
    content: '\e919';
  }

  &--flask::before {
    content: '\e91a';
  }

  &--formation::before {
    content: '\e91b';
  }

  &--gatling::before {
    content: '\e91c';
  }

  &--genknow::before {
    content: '\e91d';
  }

  &--gravity::before {
    content: '\e91e';
  }

  &--grenade::before {
    content: '\e91f';
  }

  &--harmonisation::before {
    content: '\e920';
  }

  &--heart::before {
    content: '\e921';
  }

  &--heavyhammer::before {
    content: '\e922';
  }

  &--heavysword::before {
    content: '\e923';
  }

  &--heavyweapons::before {
    content: '\e924';
  }

  &--hourglass::before {
    content: '\e925';
  }

  &--improvised::before {
    content: '\e926';
  }

  &--insigna::before {
    content: '\e927';
  }

  &--intimidation::before {
    content: '\e928';
  }

  &--jetset::before {
    content: '\e929';
  }

  &--katana::before {
    content: '\e92a';
  }

  &--key::before {
    content: '\e92b';
  }

  &--knife::before {
    content: '\e92c';
  }

  &--lance::before {
    content: '\e92d';
  }

  &--languages::before {
    content: '\e92e';
  }

  &--leadership::before {
    content: '\e92f';
  }

  &--logo::before {
    content: '\e930';
  }

  &--maitrisesoi::before {
    content: '\e931';
  }

  &--martial::before {
    content: '\e932';
  }

  &--medicine::before {
    content: '\e933';
  }

  &--missileweapon::before {
    content: '\e934';
  }

  &--orientation::before {
    content: '\e935';
  }

  &--parkour::before {
    content: '\e936';
  }

  &--perception::before {
    content: '\e937';
  }

  &--persuade::before {
    content: '\e938';
  }

  &--pistol::before {
    content: '\e939';
  }

  &--psych::before {
    content: '\e93a';
  }

  &--raisonn::before {
    content: '\e93b';
  }

  &--repair::before {
    content: '\e93c';
  }

  &--rifle::before {
    content: '\e93d';
  }

  &--rocket::before {
    content: '\e93e';
  }

  &--run::before {
    content: '\e940';
  }

  &--scale::before {
    content: '\e941';
  }

  &--scroll::before {
    content: '\e942';
  }

  &--shield::before {
    content: '\e943';
  }

  &--shotgun::before {
    content: '\e944';
  }

  &--shotgunshells::before {
    content: '\e945';
  }

  &--shuriken::before {
    content: '\e946';
  }

  &--smg::before {
    content: '\e947';
  }

  &--sniper::before {
    content: '\e948';
  }

  &--sof::before {
    content: '\e949';
  }

  &--soh::before {
    content: '\e94a';
  }

  &--spark::before {
    content: '\e94b';
  }

  &--spider::before {
    content: '\e94c';
  }

  &--star::before {
    content: '\e94d';
  }

  &--star2::before {
    content: '\e94e';
  }

  &--stealth::before {
    content: '\e94f';
  }

  &--survival::before {
    content: '\e950';
  }

  &--swim::before {
    content: '\e951';
  }

  &--sword::before {
    content: '\e952';
  }

  &--syringe::before {
    content: '\e953';
  }

  &--tactic::before {
    content: '\e954';
  }

  &--throwable::before {
    content: '\e955';
  }

  &--time::before {
    content: '\e956';
  }

  &--vault::before {
    content: '\e957';
  }
}
