.login {
  background-blend-mode: hard-light;
  background-color: var(--primary-dark);
  height: 100%;
  transform: translate3d(0, 0, 0);
  width: 100%;

  &__main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    margin: 0 auto;
    padding-top: 10vh;
    width: 40rem;

    &__video {
      opacity: 0.8;
      width: 30vh;
    }

    &__form {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      width: 100%;
    }

    &__buttons {
      display: flex;
      gap: 2em;
    }
  }
}
